*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
header{
    padding: 50px;
    text-align: center;
    background: #000;
    color: aliceblue;
}
header h1{
    size: 40px;
}
nav{
    background: #000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline;
}
nav a{
    color: antiquewhite;
    text-decoration: none;
    float: left;
    display: block;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: -20px;
}
nav h2{
    text-align: left;
    color: antiquewhite;
}
.hd{
    padding-left: 900px;
    margin-top: -50px;
    padding-bottom: 10px;
}
.l{
    padding: 0px 20px;
    padding-bottom: 14px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    margin: 0;
    display: flex;
    background-size: cover;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: none;
  }
  
  /* Position the "next button" to the right 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  */
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    display: none;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    display: none;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.sm {
    border-radius: 0%;
    max-width: 100%;
}

/* Three columns side by side */
.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 48%;
      display: block;
      padding-left: 20px;
    }
    .card {
      width: 110%;
    }
    .card h2 {
        font-size: 15px;
    }
    .team {
      margin: 0px;
      padding-left: 0px;
    }
    .lt {
        text-align: left;
        font-size: 10px;
        margin-left: -15px;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 4px 0 rgba(12, 12, 12, 0.568);
    background-color: #469AF8;
    border-radius: 10%;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 0;
    text-align: left;
  }
.card img {
    border-top-right-radius: 10%;
    border-radius: 10%;
    margin-bottom: -15px;
    border: 1px solid #469AF8
}
.card img:hover {
    transform: scale(1.1);
}
  .container h2 {
    text-align: left;
    color: #469AF8;
    background-color: #fff;
    padding-left: 0px;
    padding-top: 20px;
    margin-left: 0px;
    padding-bottom: 5px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
  }
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    height: 5%;
    display: none;
  }
  
  .button:hover {
    background-color: #555;
  }
.lt {
    align-items: cen5ter;
    font-weight: bold;
    line-height: 140%;
    color: #fff;
}
.team {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}